<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>World wide web GURU | {{site.title}}</title>

<meta name="description" content="Main rasart.pro@gmail.com site" />
<meta name="keywords" content="grid, layout, effect, animated, responsive, template, web design" />
<meta name="author" content="rasart.pro@gmail.com" />
<link rel="shortcut icon" href="{{site.url}}/images/fav.png">

<link rel="stylesheet" type="text/css" href="{{site.url}}/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/main.css" />

<script src="{{site.url}}/scripts/modernizr.custom.js"></script>

<link rel="stylesheet" href="{{site.url}}/stylesheets/behavior/animate.min.css">
