<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
<div id="theSidebar" class="sidebar">
  <button class="close-button fa fa-fw fa-close"></button>

  <!--<h1><span>Rasart<span> w3guru</h1>-->
      <h1><a href="/"><img src="/images/label.svg" class="label"></a></h1>
  <div class="main-nav">
    <nav class="cl-effect-18">
      <a href="{{site.url}}/about.html" target="">О себе</a>
      <a href="{{site.url}}/code.html" target="">Мой код</a>
      <a href="https://www.behance.net/rasarts" target="_blank">Картиночки</a>
    </nav>
  </div>

</div>
