.posts {
  @include adjust-font-size-to(20px);

  padding: 30px;

  display: block;
  // font-family: Verdana,sans-serif;
  font-family: 'Ubuntu Regular';
  font-style: normal;
  font-weight: normal;

  .post {
    clear: both;
    display: none;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
  }

  h1 {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    @include adjust-font-size-to(40px);
    @include breakpoint(max-width 400px) {
      font-size: 18px;
    }

    padding: 10px 0;

    color: rgb(221,107,110);
    font-family: '2p';
    font-weight: bold;
    text-align: center;
    // color: #FE2;
    text-shadow: -1px 1px rgb(123,201,212), -2px 2px rgb(123,201,212), -3px 3px rgb(123,201,212);
    text-transform: uppercase;

    &:hover {
      color: rgb(123,201,212);
      text-shadow: -1px 1px rgb(221,107,110), -2px 2px rgb(221,107,110), -3px 3px rgb(221,107,110);
    }

    a {
      // color: rgb(46,68,78);
      color: inherit;
      text-decoration: none;
      &:hover {
        color: rgb(123,201,212);
      }
    }
  }

  h2 {
    @include adjust-font-size-to(38px);

    text-align:center;

    padding: 20px 0;

    color: rgb(221,107,110);
    /*font-family: '2p';*/
    font-weight: bold;
    text-align: center;
    // color: #FE2;
    /*text-shadow: -1px 1px rgb(123,201,212), -2px 2px rgb(123,201,212), -3px 3px rgb(123,201,212);*/

    /*color: rgb(123,201,212);*/
    /*text-shadow: -1px 1px rgb(221,107,110), -2px 2px rgb(221,107,110), -3px 3px rgb(221,107,110);*/

    /*color: rgb(46,68,78);*/
    color: #07a;
    font-family: 'Ubuntu Bold';
  }

  h3 {
    @extend h2;
    @include adjust-font-size-to(17px);
  }

  hr {
    border: none; /* Убираем границу для браузера Firefox */

    background-color: rgb(221,107,110);
    color: rgb(221,107,110);
    height: 3px; /* Толщина линии */
    width: 20%;
  }

  ul {
    background: #fff;
    margin: 10px;
    padding: 5px;
    color: rgb(102, 102, 102);
  }

}

li {
  margin: 10px 0;

  /*font-style: italic;*/
  list-style: circle;
  margin-left: 40px;
}

.post a {
  color: rgb(221,107,110);
  &:hover {
    color: rgb(46,68,78);
  }
}

strong {
  font-weight: bold;
}
