<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} | {{site.title}}</title>

		<meta name="description" content="Main rasart.pro@gmail.com site" />
		<meta name="keywords" content="grid, layout, effect, animated, responsive, template, web design" />
		<meta name="author" content="rasart.pro@gmail.com" />
		<link rel="shortcut icon" href="{{site.url}}/images/fav.png">

		<link rel="stylesheet" type="text/css" href="{{site.url}}/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="{{site.url}}/stylesheets/main.css" />
  </head>
  <body>
		<section class="content content--show" style="top: 0px;">
					<div class="scroll-wrap">

	<div class="posts">
	  <div class="post">
	    <article class="content__item content__item--show">

        <section class="content-padding">
          <span class="category category--full">{{category}}</span>
          <a href="/"><h2 class="title title--full">{{title}}</h2></a>
          <div class="meta meta--full">
            <img class="meta__avatar" src="{{site.url}}/images/post_icon/{{icon}}.png" alt="author01">
            <span class="meta__author"></span>
            <span class="meta__date"><i class="fa fa-calendar-o"></i> {{date.human}}</span>
            <span class="meta__reading-time"><i class="fa fa-tags"></i> {{labels}}</span>
          </div>

          {{content}}

        </section>

				{{> /templates/partials/_post_comments.html}}

	    </article>
	  </div>
	</div>
	<a href="/">
		<button class="close-button close-button--show">
			<i class="fa fa-close"></i><span>Close</span>
		</button>
	</a>
</div></section>

	<script type="application/dart" src='{{site.url}}/scripts/main.dart'></script>
	<script src='{{site.url}}/packages/browser/dart.js'></script>

	<script src='{{site.url}}/scripts/syntax_highlight/prism.js'></script>
</body>
</html
