// @include font-face("2p", font-files("press-start-2p/press-start-2p-webfont.ttf","press-start-2p/press-start-2p-webfont.woff", "press-start-2p/press-start-2p-webfont.eot"));



@font-face
{
    font-family: '2p';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/press-start-2p/press-start-2p-webfont.eot');
    src: url('../fonts/press-start-2p/press-start-2p-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/press-start-2p/press-start-2p-webfont.woff2') format('woff2'),
    url('../fonts/press-start-2p/press-start-2p-webfont.woff') format('woff'),
    url('../fonts/press-start-2p/press-start-2p-webfont.ttf') format('truetype'),
    url('../fonts/press-start-2p/press-start-2p-webfont.svg#press_start_2pregular') format('svg');
}


@include font-face('Ubuntu Light', font-files('ubuntu-light/ubuntu-l-webfont.ttf','ubuntu-light/ubuntu-l-webfont.woff', 'ubuntu-light/ubuntu-l-webfont.eot'));

@include font-face('Ubuntu Light Italic', font-files('ubuntu-light-italic/ubuntu-li-webfont.ttf','ubuntu-light-italic/ubuntu-li-webfont.woff', 'ubuntu-light-italic/ubuntu-li-webfont.eot'));

@include font-face('Ubuntu Regular', font-files('ubuntu-regular/ubuntu-r-webfont.ttf','ubuntu-regular/ubuntu-r-webfont.woff', 'ubuntu-regular/ubuntu-r-webfont.eot'));

@include font-face('Ubuntu Medium', font-files('ubuntu-medium/ubuntu-m-webfont.ttf','ubuntu-medium/ubuntu-m-webfont.woff', 'ubuntu-medium/ubuntu-m-webfont.eot'));

@include font-face('Ubuntu Bold', font-files('ubuntu-bold/ubuntu-b-webfont.ttf','ubuntu-bold/ubuntu-b-webfont.woff', 'ubuntu-bold/ubuntu-b-webfont.eot'));
