@import 'compass/reset';
@import 'compass/css3';
@import 'compass/typography/vertical_rhythm';
@import 'compass/css3/user-interface';

@import 'fonts';
@import 'mixins';

@import 'components/shake';
@import 'components/breakpoint';
@import 'components/blockquotes';

@import 'components/post';

@import 'modules/header';
@import 'modules/footer';
@import 'modules/icons';

@import 'components/code';
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'em';
$min-line-padding: 2px;
$color-text: #3b3e45;
$color-marked: #bad300;
$column: 3;

.column {
  @include breakpoint(min-width 300px) {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  @include breakpoint(min-width 600px){
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  @include breakpoint(min-width 800px){
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  padding: 20px 0;

  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
       -o-column-break-inside: avoid;
          column-break-inside: avoid;
  -webkit-column-count: $column;
     -moz-column-count: $column;
          column-count: $column;
  column-gap: 20px;
}

.clear {
  clear: both;
}

body {
  padding: 10px;

  border: 13px solid rgb(47,68,78);
  background: rgb(249,241,234);

  min-width: 200px;

  font-family: 'Ubuntu Medium';
  font-style: normal;
  line-height: 24px;
}

body {
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
  word-wrap: break-word; /* force long words to break */
}

a {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

code, pre, samp {
  white-space: pre-wrap; /* force long lines to break */
}


.marker {
  padding: 4px 6px;
  // background: #3b3e45;
  // color: #bad300;

  background: rgb(221,107,110);

  color: rgb(249,241,234);
  // border-radius: 8px;
}

// .copy-path {
//   @include adjust-font-size-to(12px);
//   cursor: pointer;
//   font-weight: normal;
//   background: rgb(46,68,78);
//   color: rgb(249,241,234);
//   padding: 2px 4px;
//   border-radius: 4px;
// }
