@import "compass/reset";

body {
  border: 8px solid rgb(47,68,78);
  background: rgb(249,241,234);
  padding: 10px;
}

.posts {
  // top: 8px;
  // right: 8px;
  // bottom: 8px;
  // left: 8px;
  display: block;
}
