@import 'compass/reset';
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/user-interface";

@import "fonts";
@import "mixins";

@import "components/shake";
@import "components/breakpoint";

@import "modules/header";
@import "modules/footer";

@import "components/code";

$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: "em";
$min-line-padding: 2px;

$color-text: #3b3e45;
$color-marked: #bad300;
$column: 3;


.column {
  -moz-column-count: $column;
  -webkit-column-count: $column;
  column-count:$column;
  column-gap: 20px;
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  padding: 20px 0;
  @include breakpoint(max-width 600px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.clear {clear: both}

body {
  border: 13px solid rgb(47,68,78);
  background: rgb(249,241,234);
  padding: 10px;

  font-family: 'Ubuntu Medium';
  font-style: normal;
  line-height: 24px;
}

body {
  word-wrap: break-word; /* force long words to break */
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
}

code,
pre,
samp {
  white-space: pre-wrap; /* force long lines to break */
}


.marker {
  // background: #3b3e45;
  // color: #bad300;
  background: rgb(221,107,110);
  color: rgb(249,241,234);
  padding: 4px 6px;
  // border-radius: 8px;
}


.posts {
  padding: 30px;
  display: block;
  font-family: 'Ubuntu Medium';
  @include adjust-font-size-to(19px);


  .post {
    clear: both;
    display: none;

  }

  h1 {
    text-align: center;
    padding: 10px 0;
    color: rgb(46,68,78);
    @include adjust-font-size-to(40px);
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Ubuntu Bold';
    @include breakpoint(max-width 400px){
      font-size: 18px;
    }

    a {
      text-decoration: none;
      color: rgb(46,68,78);
      &:hover {
        color: rgb(123,201,212);
      }
    }
  }

  h2 {
    @include adjust-font-size-to(20px);
    font-weight: bold;
    font-family: 'Ubuntu Bold';
    padding: 20px 0;
    color: rgb(46,68,78);
  }

  h3 {
    @extend h2;
    @include adjust-font-size-to(17px);
  }

  hr {
    width: 20%;
    color: rgb(221,107,110);
    background-color: rgb(221,107,110);
    border: none; /* Убираем границу для браузера Firefox */
    height: 3px; /* Толщина линии */
  }
}

li {
  list-style: circle;
  margin: 10px 0;
  margin-left: 40px;
  font-style: italic;
}

.post a {
  color: rgb(221,107,110);
  &:hover {
    color: rgb(46,68,78);
  }

}

strong {
  font-weight: bold;
}

// .copy-path {
//   @include adjust-font-size-to(12px);
//   cursor: pointer;
//   font-weight: normal;
//   background: rgb(46,68,78);
//   color: rgb(249,241,234);
//   padding: 2px 4px;
//   border-radius: 4px;
// }
