.main-footer {
  left: -10px;
  bottom: -10px;

  border: 10px solid #2f444e;
  background: #2f444e;

  clear: both;
  color: #f9f1ea;
  position: relative;
  width: 100%;

  a {
    color: #f9f1ea;
    float: left;
    font-family: 'Ubuntu Bold';
    margin-right: 10px;
    text-decoration: none;
    &:hover {
      color: #dd6b6e;
    }
  }

  .lic {
    @include adjust-font-size-to(10px);
  }

  .all-links {
    @include adjust-font-size-to(22px);

    color: rgb(123,201,212);
  }
}
