.main-footer {
  clear: both;
  background: #2f444e;
  border: 10px solid #2f444e;

  position: relative;
  bottom: -10px;
  width: 100%;
  left: -10px;

  color: #f9f1ea;

  a {
    color: #f9f1ea;
    float: left;
    margin-right: 10px;
    font-family: 'Ubuntu Bold';
    text-decoration: none;
    &:hover {
      color: #dd6b6e;
    }
  }

  .lic {
    @include adjust-font-size-to(10px);
  }

  .all-links {
    @include adjust-font-size-to(22px);
    color: rgb(123,201,212); 
  }

}
