
#mainPath {
  fill: rgb(47,68,78);
  // fill: rgb(236,105,111);
}

#mainPath:hover {
  // fill: rgb(47,68,78);
  fill: rgb(236,105,111);
}


.main-header {
  display: block;
  padding-bottom: 30px;

  a {
    margin: 0 auto;

    display: block;
    font-family: 'Ubuntu Medium';
    height: 120px;
    margin-top: -10px;
    // background: rgb(47,68,78);
    text-align: center;
    // width: 10%;
    width: 110px;
  }
  #w3logo {
    margin: 0 auto;

    margin-top: 16%;
    width: 80%;
  }
}

.main-menu {
  top: -100px;

  margin: 0 auto;

  position: relative;
  width: 40%;

  @include breakpoint(min-width 200px){
    width: 70%;
  }

  span, a {
    color: rgb(84,131,145);
    cursor: pointer;
    @include adjust-font-size-to(16px);

    @include breakpoint(min-width 200px){
      @include adjust-font-size-to(6px);
    }

    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: '2p';
    &:hover {
      color: rgb(236,105,111);
    }
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
  }
}
